.Home {
  text-align: center;
}

.alt-image {
  width: 300px;
}

.img-movies-list{
  width: 300px;
}

/* replace broken image logo */
.img-movies-list:before {  
  content: "N/A";
  display: block;
  text-align: center;
  position: relative;
  top: 10px;
  left: 0;
  padding-top: 80px;
  height: 200px;
  width: 300px;
  border-radius: 5px;
}

.img-movie {
  width: 400px;
}

.img-movie:before {  
  content: "N/A";
  display: block;
  text-align: center;
  position: relative;
  top: 30%;
  left: 0;
  padding-top: 80px;
  height: 200px;
  width: 400px;
}

.result-link:hover {
  background-color: rgb(189, 255, 189);
}
